* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.main-nav {
  background-color: #191919;
  padding: 1.5em;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
  padding: 1em;

  border-radius: 0.5em;
  width: 30vw;
}
.search-input {
  background-color: transparent;
  border: none;
  width: 85%;
  height: 1.8em;
}
.search-input::placeholder {
  color: lightgray;
  font-size: 1.1em;
}
.search-icon {
  width: 1.5em;
  cursor: pointer;
}

.nav-offer {
  color: #e8e8e8;
  font-size: 2em;
  cursor: pointer;
}
.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
.nav-item {
  color: lightgray;
  margin-right: 4em;
  cursor: pointer;
}

.slider {
  background-image: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
}
.slider-Wrapper {
  display: flex;
  align-items: center;
  width: 500vw;
}
