* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

.main-nav {
  background-color: #191919;
  padding: 1.5em;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
  padding: 1em;

  border-radius: 0.5em;
  width: 30vw;
}
.search-input {
  background-color: transparent;
  border: none;
  width: 85%;
  height: 1.8em;
}
.search-input::placeholder {
  color: lightgray;
  font-size: 1.1em;
}
.search-icon {
  width: 1.5em;
  cursor: pointer;
}

.nav-offer {
  color: #e8e8e8;
  font-size: 2em;
  cursor: pointer;
}
.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
.nav-item {
  color: lightgray;
  margin-right: 4em;
  cursor: pointer;
}

.slider {
  background-image: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  overflow: hidden;
}
.slider-Wrapper {
  display: flex;
  width: 500vw;
  transition: all 1s ease-in-out;
}
.slider-Item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 4em;
}
.slider-img {
  width: 40em;
  height: auto;
  z-index: 1;
}

.slider-Price {
  position: absolute;
  top: 14%;
  left: 28%;
  color: #ffffff;
  font-weight: 300;
  border: 1px solid rgb(165, 165, 165);
  font-size: 3em;
}
.slider-Title {
  position: absolute;
  top: 25%;
  right: 20%;
  color: #ffffff;
  text-align: right;
  font-size: 4em;
}
.buy-button {
  position: absolute;
  top: 60%;
  right: 20%;
  color: #000;
  background-color: #fff;
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.buy-button:hover,
.productButton:hover {
  color: #fff;
  background-color: #000;
  transition: 0.5s ease-in-out;
}

.slider-Bg {
  width: 45em;
  height: 45em;
  position: absolute;
  border-radius: 50%;
}

.slider-Item:nth-child(1) .slider-Bg {
  background-color: rgb(168, 0, 168);
}
.slider-Item:nth-child(2) .slider-Bg {
  background-color: rgb(0, 39, 98);
}
.slider-Item:nth-child(3) .slider-Bg {
  background-color: rgb(0, 98, 11);
}
.slider-Item:nth-child(4) .slider-Bg {
  background-color: rgb(98, 47, 0);
}
.slider-Item:nth-child(5) .slider-Bg {
  background-color: rgb(131, 126, 0);
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8em;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureImg {
  width: 5em;
}

.featureTitle {
  font-weight: 800;
  font-size: 1.5em;
  margin: 1em;
}

.featureDescription {
  color: gray;
  font-size: 1.1em;
  max-width: 15em;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: whitesmoke;
  padding: 5em 10em;
}

.productImg {
  width: 30%;
}

.productDetails {
  width: 40%;
  position: relative;
}

.productTitle {
  font-weight: 900;
  font-size: 3em;
}

.productPrice {
  font-size: 2em;
  margin: 15px 0 25px;
}

.productDescription {
  color: gray;
  font-size: 1.2em;
}

.productColor,
.productSizes {
  margin: 25px 0;
  display: flex;
}

.color {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background-color: #000;
  margin-right: 1em;
  cursor: pointer;
}

.color:last-child {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background-color: blue;
  cursor: pointer;
}

.size {
  height: 35px;
  width: 40px;
  font-size: 1.1em;
  padding: 5px 8px;
  margin-right: 1em;
  border: 1px solid black;
  cursor: pointer;
}

.productButton {
  font-size: 1.5em;
  font-weight: 700;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 5px;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5em;
}

.galleryItem {
  flex: 1;
  padding: 4em;
}

.galleryImg {
  width: 100%;
}

.galleryTitle {
  font-size: 2em;
  font-weight: 900;
}
