/* global css styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

/* nav component */

.main-nav {
  background-color: #191919;
  padding: 1.5em;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
  padding: 1em;
  border-radius: 0.5em;
  width: 30vw;
}
.search-input {
  background-color: transparent;
  border: none;
  width: 85%;
  height: 1.8em;
}
.search-input::placeholder {
  color: lightgray;
  font-size: 1.1em;
}
.search-icon {
  width: 1.5em;
  cursor: pointer;
}

.nav-offer {
  color: #e8e8e8;
  font-size: 1.7em;
  cursor: pointer;
}
.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
.nav-item {
  color: lightgray;
  margin-right: 4em;
  cursor: pointer;
}

/* slider component */

.slider {
  background-image: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  overflow: hidden;
}
.slider-Wrapper {
  display: flex;
  width: 500vw;
  transition: all 1s ease-in-out;
}
.slider-Item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 4em;
}
.slider-img {
  width: 40em;
  height: auto;
  z-index: 1;
}

.slider-Price {
  position: absolute;
  top: 14%;
  left: 28%;
  color: #ffffff;
  font-weight: 300;
  border: 1px solid rgb(165, 165, 165);
  font-size: 3em;
}
.slider-Title {
  position: absolute;
  top: 25%;
  right: 20%;
  color: #ffffff;
  text-align: right;
  font-size: 4em;
}
.buy-button {
  position: absolute;
  top: 60%;
  right: 20%;
  color: #000;
  background-color: #fff;
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.slider-Bg {
  width: 45em;
  height: 45em;
  position: absolute;
  border-radius: 50%;
}

.slider-Item:nth-child(1) .slider-Bg {
  background-color: rgb(168, 0, 168);
}
.slider-Item:nth-child(2) .slider-Bg {
  background-color: rgb(0, 39, 98);
}
.slider-Item:nth-child(3) .slider-Bg {
  background-color: rgb(0, 98, 11);
}
.slider-Item:nth-child(4) .slider-Bg {
  background-color: rgb(98, 47, 0);
}
.slider-Item:nth-child(5) .slider-Bg {
  background-color: rgb(131, 126, 0);
}

/* features section component*/

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8em;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureImg {
  width: 5em;
}

.featureTitle {
  font-weight: 800;
  font-size: 1.5em;
  margin: 1em;
}

.featureDescription {
  color: gray;
  font-size: 1.1em;
  max-width: 15em;
}

/* product section component */

.product {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: whitesmoke;
  padding: 5em 10em;
}

.productImg {
  width: 30%;
}

.productDetails {
  width: 40%;
  position: relative;
}

.productTitle {
  font-weight: 900;
  font-size: 3em;
}

.productPrice {
  font-size: 2em;
  margin: 15px 0 25px;
}

.productDescription {
  color: gray;
  font-size: 1.2em;
}

.productColor,
.productSizes {
  margin: 25px 0;
  display: flex;
}

.color {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background-color: #000;
  margin-right: 1em;
  cursor: pointer;
}

.color:last-child {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background-color: blue;
  cursor: pointer;
}

.size {
  height: 35px;
  width: 40px;
  font-size: 1.1em;
  padding: 5px 8px;
  margin-right: 1em;
  border: 1px solid black;
  cursor: pointer;
}

.productButton {
  font-size: 1.5em;
  font-weight: 700;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 5px;
}

/* Cart component */

.cartIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5em;
  cursor: pointer;
}

.cartItemCounter {
  position: absolute;
  top: 35px;
  right: 12px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #c62f2f;
  color: #fff;
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cartSection {
  position: absolute;
  height: auto;
  width: 60vw;
  background-color: #e8e8e8;
  z-index: 2;
  border-radius: 10px;
  box-shadow: 0px 5px 50px #232323a7;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5em 0;
}

.cartSectionHeader {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 1em;
}

.cartRow {
  display: flex;
}

.cartColumn {
  font-size: 1.2em;
  border-bottom: 1px solid black;
  padding: 0.5em;
  margin-right: 1em;
  display: flex;
  align-items: center;
}

.cartRow:last-child .cartColumn {
  border: none;
}

.cartRow:last-child {
  border-bottom: 1px solid #000;
}

.cartHeader {
  font-weight: 700;
  font-size: 1.5em;
}

.cartItem {
  width: 45%;
}

.cartPrice {
  width: 20%;
}

.cartQuantity {
  width: 25%;
}

.cartItemImg {
  width: 5em;
}

.cartItemTitle {
  margin-left: 0.6em;
}

.cartQuantityInput {
  width: 3em;
  height: 2em;
  border-radius: 5px;
  text-align: center;
  font-size: 0.7em;
}

.removeBtn {
  margin: 1em;
  padding: 0.5em;
  background-color: #fe4f4f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cartTotal {
  align-self: normal;
  margin-left: 58%;
  font-size: 1.5em;
  margin-top: 0.5em;
}

.cartTotalTitle {
  margin-right: 8px;
}

.purchaseBtn {
  font-size: 2em;
  padding: 0.6em 0.8em;
  border-radius: 10px;
  margin-top: 2em;
  background-color: #f5f5f5;
  cursor: pointer;
}

.closeCartBtn {
  position: absolute;
  font-size: 2em;
  top: 0;
  right: 8px;
  cursor: pointer;
  /* border: 1px solid black; */
}

/* gallery section component */

.gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4em 8em;
}

.galleryItem {
  flex: 1;
  padding: 3em;
}

.galleryImg {
  width: 100%;
  height: auto;
  margin: 1em 0;
}

.galleryTitle {
  font-size: 2.2em;
  font-weight: 700;
}

/* footer component */

.footer {
  display: flex;
  align-items: center;
  padding: 4em 6em 4em 6em;
  background-color: #f5f5f5;
}

.leftFooter {
  display: flex;
  justify-content: space-around;
  flex: 2;
}

.fMenuTitle {
  font-size: 1.5em;
}

.fListItem {
  list-style: none;
  margin: 1em 0;
  color: gray;
  cursor: pointer;
}

.rightFooter {
  flex: 1;
  padding: 0 0 0 10em;
}

.newsletterMail {
  margin: 1em 0;
}

.newsletterMailInput {
  width: 15em;
  height: 2.5em;
  padding: 5px;
}

.newsletterMailBtn {
  background-color: #000;
  color: #fff;
  padding: 0.5em;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

.followusTitle {
  margin-top: 1em;
}

.socialLinkIcon {
  width: 1.5em;
  margin: 1em 0.5em;
  cursor: pointer;
}

.socialLinkIcon:nth-child(1) {
  margin-left: 0;
}

.copyright {
  color: gray;
}

@media (hover: hover) and (pointer: fine) {
  .buy-button:hover,
  .productButton:hover {
    color: #fff;
    background-color: #000;
  }
  .removeBtn:hover {
    background-color: #ba0000;
  }
  .closeCartBtn:hover {
    color: #ba0000;
  }
  .purchaseBtn:hover {
    background-color: gray;
    color: #fff;
  }
}

/* styles for laptops  */
@media only screen and (max-width: 1024px) {
  .slider-img {
    width: 25em;
  }
  .slider-Bg {
    width: 25em;
    height: 25em;
  }
  .slider-Price {
    font-size: 2em;
  }
  .slider-Title {
    font-size: 2.5em;
  }
  .buy-button {
    font-size: 1em;
  }
  .features {
    padding: 4em;
  }
  .featureImg {
    width: 3.5em;
  }
  .featureTitle {
    font-size: 1.1em;
  }
  .featureDescription {
    font-size: 0.9em;
    max-width: 12em;
  }

  .product {
    padding: 1em 2em;
  }
  .purchaseBtn {
    font-size: 1.5em;
  }

  .gallery {
    padding: 2em 1em;
  }
  .galleryItem {
    padding: 1.5em;
  }
  .galleryTitle {
    font-size: 2em;
  }

  .footer {
    padding: 2em;
  }
  .fMenuTitle {
    font-size: 1.2em;
  }
  .fListItem {
    font-size: 0.8em;
    margin: 0.7em 0;
  }
  .rightFooter {
    padding-left: 1em;
  }
  .newsletterTitle {
    font-size: 1.3em;
  }
  .newsletterMailInput {
    height: 2.1em;
  }
  .newsletterMail {
    margin: 0.7em 0;
  }
  .newsletterMailBtn {
    font-size: 0.8em;
  }
  .followusTitle {
    margin-top: 0.9em;
    font-size: 1.2em;
  }
  .socialLinkIcon {
    width: 1.1em;
    margin-top: 0.7em;
  }
}

/* styles for tablets  */
@media only screen and (max-width: 768px) {
  .nav-logo {
    width: 7em;
  }
  .search {
    width: 40vw;
    padding: 0.5em 1em;
  }
  .search-icon {
    width: 1em;
  }
  .nav-offer {
    font-size: 1.3em;
  }
  .nav-item {
    font-size: 1em;
  }

  .nav-item:last-child {
    margin-right: 0;
  }
  .slider-Price {
    left: 17%;
  }
  .slider-Title {
    right: 10%;
  }
  .buy-button {
    right: 10%;
  }
  .features {
    padding: 3em 1.5em;
  }
  .featureImg {
    width: 3em;
  }
  .featureTitle {
    margin-bottom: 0.5em;
    font-size: 1em;
  }
  .featureDescription {
    font-size: 0.8em;
  }

  .product {
    padding: 2em;
  }
  .productImg {
    width: 40%;
  }
  .productDetails {
    width: 50%;
    font-size: 0.8em;
  }
  .size {
    text-align: center;
    height: auto;
    width: auto;
  }
  .cartSection {
    width: 80vw;
  }
  .galleryTitle {
    font-size: 1.5em;
  }

  .footer {
    padding: 2.5em 1.5em;
  }
  .fMenuTitle {
    font-size: 1em;
  }
  .fListItem {
    font-size: 0.7em;
  }
  .leftFooter {
    flex: 1.7;
  }

  .newsletterTitle {
    font-size: 1.1em;
  }

  .followusTitle {
    font-size: 1.1em;
  }
  .socialLinkIcon {
    width: 1em;
  }

  .copyright {
    font-size: 0.7em;
  }
}
